JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
SALT=10
VITE_API_URL=http://localhost:3000/api
DB=mongodb://localhost:27017/logistico
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_email_password
ACCESS_TOKEN_SECRET=your_access_token_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
